<ion-row>
  <ion-col>Nickname</ion-col>
  <ion-col>Score</ion-col>
  <ion-col>Time</ion-col>
</ion-row>
<ion-row *ngFor="let player of players">
  <ion-col [innerHTML]="player.nickname"></ion-col>
  <ion-col [innerHTML]="player.score"></ion-col>
  <ion-col [innerHTML]="player.time"></ion-col>
</ion-row>