<ion-content>
  <ion-list *ngIf="current == null">
    <ion-item (click)="start(Difficulty.EASY)">
      Easy
    </ion-item>
    <ion-item (click)="start(Difficulty.MEDIUM)">
      Medium
    </ion-item>
    <ion-item (click)="start(Difficulty.HARD)">
      Hard
    </ion-item>
  </ion-list>
  <ion-list *ngIf="current != null">
    <ion-list>
      <ion-list-header [innerHTML]="current.question"></ion-list-header>
      <ion-row>
        <ion-col>
          <ion-item [innerHtml]="currentAnswers[0]"
                    (click)="pick(0)"
                    [color]="getColor(0)"
                    [disabled]="currentIndex != null ? true : null">

          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item [innerHtml]="currentAnswers[1]"
                    (click)="pick(1)"
                    [color]="getColor(1)"
                    [disabled]="currentIndex != null ? true : null">
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="current.type == Type.MULTIPLE">
        <ion-col>
          <ion-item [innerHtml]="currentAnswers[2]"
                    (click)="pick(2)"
                    [color]="getColor(2)"
                    [disabled]="currentIndex != null ? true : null">
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item [innerHtml]="currentAnswers[3]"
                    (click)="pick(3)"
                    [color]="getColor(3)"
                    [disabled]="currentIndex != null ? true : null">
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-list>
  <ion-item *ngIf="currentIndex != null"
            (click)="next()">
    Next
  </ion-item>
  <ion-item *ngIf="current == null && currentIndex != null">
    <ion-header>
      Completed !<br>
      Score : {{score}}<br>
      Time : {{time}}<br>
    </ion-header>
    <ion-item (click)="close()">Back to menu</ion-item>
  </ion-item>
</ion-content>